@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ccc;
}

input::placeholder, textarea::placeholder {
  color: #666;
}




